.Collapsible {
  border: 5px solid var(--main-pink);
  box-shadow: 1px 1px 1px 1px var(--main-pink);
  border-radius: 1rem;
  margin-bottom: 3%;
  background-color: var(--main-ivory);
}

.Collapsible span {
  display: inline-block;
  width: 100%;
  padding: 3%;
  font-size: 1.5rem;
  cursor: pointer;

  font-weight: 600;
}

.Collapsible a {
  color: var(--main-pink);
  font-weight: 600;
  font-size: 1.2rem;
}

.faq .content {
  background-color: white;
  padding: 5% 10%;
}

.faq .content p {
  padding: 0 3%;
  line-height: 130%;
  margin: 0 0 2% 0;
}
@media screen and (max-width: 1023px) {
}
@media screen and (max-width: 768px) {
  .Collapsible {
    border: 2px solid var(--main-pink);
    box-shadow: 1px 1px 1px 1px var(--main-pink);
  }
  .Collapsible span {
    font-size: 1.2rem;
  }
}
