.main {
  text-align: center;
  background-color: var(--main-pink);
  height: 420vh;
  width: 100%;
}
.mainImg-container {
  border: 1px solid yellow;
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.mainImg {
  /* border: 1px solid saddlebrown; */
  width: 70vw;
  margin: auto;
}
.main-scrollBtn {
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}
.absolute {
  position: absolute;
}
.front {
  z-index: 2;
}
.turtleChip {
  left: 15vw;
  top: 100vh;
  width: 20vw;
  transform: rotate(-30deg);
}
.btsCoffee {
  right: 10vw;
  top: 140vh;
  width: 20vw;
  transform: rotate(30deg);
}
.gummy {
  left: 25vw;
  top: 200vh;
  width: 20vw;
  transform: rotate(30deg);
}
.cornChip {
  right: 10vw;
  top: 250vh;
  width: 20vw;
  transform: rotate(30deg);
}
.shrimpChip {
  left: 5vw;
  top: 300vh;
  width: 10vw;
  transform: rotate(-30deg);
  z-index: 2;
}
.almond {
  right: 20vw;
  top: 350vh;
  width: 20vw;
  transform: rotate(30deg);
}
.pepero {
  left: -2vw;
  top: 200vh;
  width: 20vw;
  transform: rotate(30deg);
}

.chac1 {
  right: 35vw;
  top: 180vh;
  width: 10vw;
  transform: rotate(-40deg);
}
.chac2 {
  left: 10vw;
  top: 180vh;
  width: 10vw;
  transform: rotate(30deg);
}
.chac3 {
  right: 40vw;
  top: 250vh;
  width: 10vw;
  transform: rotate(-30deg);
}
.chac4 {
  right: 7vw;
  top: 210vh;
  width: 5vw;
  transform: rotate(30deg);
}
.chac5 {
  right: 0;
  top: 300vh;
  width: 20vw;
  /* transform: rotate(-40deg); */
}
.chac6 {
  left: 25vw;
  top: 320vh;
  width: 15vw;
  transform: rotate(30deg);
}
.mask1 {
  right: 25vw;
  top: 130vh;
  width: 10vw;
  transform: rotate(-30deg);
}
.mask2 {
  left: 25vw;
  top: 260vh;
  width: 15vw;
  transform: rotate(10deg);
}
.mask3 {
  left: 2vw;
  top: 150vh;
  width: 10vw;
  transform: rotate(30deg);
}

.features {
  /* height: 200vh; */
  padding: 10vh 13vw;
}

.feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10vh 0;
}
.feature-text {
  width: 30vw;
  color: var(--main-gray);
}
.feature img {
  height: 30vw;
  width: 30vw;
  object-fit: cover;
  border-radius: 50%;
}

/* review */

.review {
  position: relative;
  background-color: var(--main-purple);
  /* height: 80vh; */
}

.review_bg {
  width: 100%;
}

.review_container {
  position: absolute;
  background-color: var(--main-gray-light);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 70%;
  width: 70%;
  text-align: center;
}
.review_container > h6 {
  font-size: 2.5rem;
  padding-top: 3%;
  margin: 0;
}
.review_container > img {
  height: 12px;
  margin-bottom: 2%;
}

.review_container > div {
  position: relative;
  /* border: 1px blue solid; */
  margin: auto;
  width: 70%;
  height: 60%;
  align-items: center;
}
.review_container .slick-prev {
  left: -50px;
}
.review_container .slick-next {
  right: -50px;
}

.slick-slider {
  position: absolute;
  /* border: 1px pink solid; */
  top: 50%;
  transform: translateY(-50%);
  padding: 3% 0;
  font-size: 1.5rem;
}
.slick-slider p {
  margin: 0 0 7%;
}

/* order */
.order {
  display: flex;
  position: relative;
}
.order .slick-slider {
  position: absolute;
  width: 40%;
  margin-left: 5%;
}
.order .slick-slider .slick-dots li.slick-active button:before {
  width: 0px;
  line-height: 0px;
  content: "-";
  font-size: 3rem;
  font-weight: 600;
  transition: 1s;
  color: var(--main-pink);
}
.order > div:first-child {
  width: 50%;
  height: 100vh;
  /* border: red 1px solid; */
}
.order-right {
  width: 50%;
  height: 100vh;
  /* border: blue 1px solid; */
  padding: 5% 0;
}

.order img {
  object-fit: cover;
  width: 100%;
  border-radius: 3rem;
}

.order-right h1 {
  font-size: 4rem;
  margin: 0 0 6%;
  color: var(--main-purple);
}

.order-right span {
  font-size: 1.3rem;
  line-height: 2rem;
  color: var(--main-gray);
}
.order-right-price {
  display: flex;
  padding: 3% 0;
  align-items: center;
}
.order-right-price > * {
  font-size: 2rem;
  color: var(--main-purple);
}
.order-right-price > button {
  margin: 0 5%;
  padding: 2% 2.5%;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: white;
  border: 5px solid var(--main-gray-light);
  border-radius: 50px;
  cursor: pointer;
}
.order-right-price > button:hover {
  color: white;
  background-color: var(--main-pink);
  border: 5px solid transparent;
}

.order-right-detail > div {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  padding: 5px;
  border: 5px solid var(--main-gray-light);
  border-radius: 50px;
  width: 93%;
}
.order-right-detail-btn {
  padding: 2.5%;
  width: 33%;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--main-purple);
  border: none;
  cursor: pointer;
  background-color: transparent;
}

#order-right-detail-btn-indicator {
  position: absolute;
  width: 33%;
  height: 90%;
  background-color: var(--main-purple);
  border-radius: 50px;
  z-index: -1;
  transition: 0.5s ease-in-out;
}

.gallery {
  height: 150vh;
  /* border: 1px solid red; */
  background-color: var(--main-pink-light);
  padding: 2%;
  display: flex;
}
.galleryL {
  width: 34%;
  height: 100%;
}
.galleryR {
  width: 66%;
  height: 100%;
}
.galleryR-upper {
  display: flex;
  width: 100%;
  height: 33%;
}
.gallery1 {
  width: 100%;
  height: 66%;
}
.gallery img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* transform: rotate(90deg); */
}
.gallery2 {
  width: 50%;
}
.gallery3 {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: var(--main-pink);
  color: white;
  overflow: hidden;
}
.gallery3 img {
  position: absolute;
  transform: rotate(-30deg);
  width: 50%;
  top: 50%;
  right: 0%;
  /* object-fit: cover; */
}
.gallery3 h3 {
  padding: 3%;
  font-weight: 100;
  /* z-index: 10; */
}

.gallery4 {
  width: 100%;
  height: 33%;
}
.gallery5 {
  position: relative;
  width: 100%;
  height: 66%;
  z-index: 0;
}
.gallery5 > div {
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100%;
}
.gallery5 > div:first-child {
  border: 5px solid white;

  transform: scale(0.94);
  -webkit-transform: scale(0.94);
}
.gallery5 > div:nth-child(2) {
  border: 3px solid white;

  transform: scale(0.98);
  -webkit-transform: scale(0.98);
}
.gallery5 > div:hover {
  animation: scale 1s ease-in-out infinite alternate;
}
@keyframes scale {
  from {
    transform: scale(0.98);
    -webkit-transform: scale(0.98);
  }
  to {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
  }
}
.scaleAdjust {
  transform: scale(0.9);
}

.scaleAdjust:hover {
  transform: scale(1);
  transition: 0.5s ease-in-out;
}
