.nav-container {
  position: fixed;

  width: 100%;
  /* padding: 0 2%; */
  z-index: 99;
  background-color: var(--main-pink);
}
.nav {
  display: flex;
  /* position: sticky; */
  top: 0;
  justify-content: space-between;
  border-bottom: 1px solid white;
  padding: 10px 3vw;
  color: white;
  box-sizing: border-box;
  width: 100%;
}

.nav-left {
  font-size: 2rem;
  cursor: pointer;

  /* border: 1px solid blue; */
}
.nav-right {
  font-size: 1.2rem;
  /* border: 1px solid yellow; */
  align-items: center;
}
.nav a {
  /* border: 1px solid green; */
  margin: auto 1rem;
  vertical-align: middle;
  line-height: 40px;
  /* cursor: pointer; */
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .nav-right {
    font-size: 1rem;
  }
}
